username@clnode0.clemson.cloudlab.us
username@clnode1.clemson.cloudlab.us
username@clnode2.clemson.cloudlab.us
username@clnode3.clemson.cloudlab.us
username@clnode4.clemson.cloudlab.us
/home/username/bencher_scrape
